
Hashtag/python_impressionador/API/produtdos_bling.csv
Hashtag/python_impressionador/pandas/07-31 - Integração Entre Python e Excel/Produtos.xlsx
Hashtag/python_impressionador/pandas/07-31 - Integração Entre Python e Excel/ProdutosOpenPy.xlsx
Hashtag/python_impressionador/pandas/Exercício Desafio pandas - Mini Projeto Análise de Dados/BaseServiçosPrestados.xlsx
Hashtag/python_impressionador/pandas/Exercício Desafio pandas - Mini Projeto Análise de Dados/CadastroFuncionarios.csv
Hashtag/python_impressionador/pandas/Exercício Desafio pandas - Mini Projeto Análise de Dados/CadastroClientes.csv
